.credit_card_main {
  padding: 15px 15px 0px;
  background: #fff;
  margin: auto;
  width: 100%;
}
.credit_card_container {
  max-width: 700px;
  margin: auto;
  padding: 25px 25px 15px;
}
.credit_card_header {
  border: 1px solid #ccc;
  border-top: 3px solid #2a479c;
  background: #f5f5f5;
  margin: 20px 0 15px;
  padding: 11px 10px 8px 15px;
  font-weight: bold;
  font-size: 18px;
}
.credit_card_header_sub {
  border-bottom: 1px dotted #28479c;
  color: #28479c;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 0 0 15px;
  padding: 0 0 6px;
  background: none;
}
.credit_card_img {
  max-width: 100%;
  margin-bottom: 10px;
}
.credit_description li {
  padding: 0px 0px 5px 15px;
  line-height: 1.3;
  font-size: 13px;
  word-break: break-all;
  color: #333333;
}
.credit_content_table {
  width: 100%;
  margin: 15px auto 0;

  box-sizing: border-box;
  line-height: 1.4;
}
table {
  width: 100%;
  border-collapse: collapse;
}
tbody {
  border-top: 3px solid #2a479c;
}
td {
  padding: 10px 15px;
  text-align: left;
  border: 1px solid #c0c0c0;
  /* vertical-align: text-top; */
}
th {
  height: 0;
}
.colum1 {
  width: 33.33%;
}
.colum2 {
  width: 66.67%;
}
tr td {
  padding: 10px 15px;
  text-align: left;
}
.input_card_number {
  margin-bottom: 5px;
  padding: 5px 8px 4px;
  border: 1px solid #c0c0c0;
  border-radius: 3px;
  background: #fffff0;
}
.dataContent_date {
  display: flex;
}
.dataContent_date span {
  margin: 0px 10px;
}
.dataContent_security {
  display: flex;
  justify-content: start;
  align-items: center;
}
.input_security {
  width: 70px;
  margin-bottom: 5px;
  padding: 5px 8px 4px;
  border: 1px solid #c0c0c0;
  border-radius: 3px;
  background: #fffff0;
  margin-right: 20px;
}
.sub_security {
  margin-left: 20px;
}
tr .dataTableBtn,
.dataTableBtn td {
  border: none;
}
.dataContent_btn {
  width: 380px;
  position: relative;
  left: 35px;
  background: #f80;
  color: #fff;
  font-size: 18px;
  letter-spacing: 4px;
  padding: 12px 0 12px 4px;
  font-weight: bold;
  text-shadow: 1px 1px 0 rgb(0 0 0 / 30%);
  border-radius: 5px;
  cursor: pointer;
}
.errors_message{
    margin: 4px 0px;
    color: red;
}
